<footer class="footer">
    <div class="content">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <a title="Discord" class="button is-discord is-rounded" target="_blank" href="{{ site.discord_community }}">
                            <span class="icon"><i class="fab fa-discord"></i></span>
                        </a>
                    </p>

                    <p class="control">
                        <a title="GitHub" class="button is-github is-rounded"
                           target="_blank"
                           href="https://github.com/{{ site.github_username }}">
                            <span class="icon"><i class="fab fa-github"></i></span>
                        </a>
                    </p>

                    <p class="control">
                        <a title="Twitter" class="button is-twitter is-rounded"
                           target="_blank"
                           href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="icon"><i class="fab fa-twitter"></i></span>
                        </a>
                    </p>

                    <p class="control">
                        <a title="Twitch" class="button is-primary is-rounded" target="_blank"
                           href="https://twitch.tv/{{ site.twitch_username }}">
                            <span class="icon"><i class="fab fa-twitch"></i></span>
                        </a>
                    </p>
                </div>

                <br />

                <div class="has-text-centered">
                    <p><strong>Copyright &copy; {{ 'now' | date: "%Y" }} Quilt Project</strong></p>

                    <p>
                        Quilt is not an official Minecraft product, and is not
                        approved by or associated with Mojang Studios.
                        "Minecraft" is a trademark of Mojang AB and any usage
                        of the Minecraft brand on this site is used in
                        accordance with Mojang Studios'
                        <a href="https://account.mojang.com/terms?ref=ft#brand" target="_blank">Brand and Asset Guidelines</a>.
                    </p>

                    <p>
                        All logos used on this site are the property of their respective owners. The
                        CurseForge logo recreation we use in a few places on this site
                        <a href="https://gist.github.com/thecodewarrior/110057b210551c4ecf2c9be6d58ff824" target="_blank">was created by thecodewarrior</a>,
                        and is licensed under the
                        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution License</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
