{% assign url = include.href -%}
{% assign class = include.class -%}
{% assign text = include.text -%}
{% assign icon = include.icon -%}
{% assign iconalt = include.iconalt -%}
{% assign target = include.target -%}
{% assign subpage = include.subpage | default: false -%}

{% assign is_subpage = false %}

{% if subpage %}
    {% assign is_subpage = page.url | startswith: url %}
{% endif %}

{% capture translated-text %}{% t text %}{% endcapture %}
{% assign translation-count = translated-text | size %}

<a href="{{ url }}"
   {% if target %}target="{{ target }}"{% endif %}
   class="navbar-item {% if is_subpage or url == page.url %}is-active {% endif %}{{ class }}"
>
    {% if icon %}
        <span class="icon"><i class="fa-xl {{ icon }}"></i></span>
    {% endif %}

    {% if translation-count > 0 %}
        <span>{{ translated-text }}</span>
    {% else %}
        <span>{{ text }}</span>
    {% endif %}
</a>
