{% assign name = include.name -%}
{% assign class = include.class -%}
{% assign pronouns = include.pronouns -%}
{% assign discord = include.discord -%}
{% assign github = include.github -%}
{% assign description = include.description -%}
{% assign avatar = include.avatar -%}
{% assign avatar_pixelate = include.avatar_pixelate | default: false -%}
{% assign system_members = include.system_members -%}
{% assign links = include.links -%}

<div class="card is-team-member {{ class }}">
    <div class="card-content">
        {% if avatar %}
        <div class="avatar">
            <img {% if avatar_pixelate %}class="is-pixelated"{% endif %} src="{{ avatar }}" alt="Avatar">
        </div>
        {% endif %}

        <div class="media">
            <div class="media-content">
                <p class="title is-5">
                    {% if name %}
                    {{ name }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </p>

                <p class="subtitle is-6">
                    <i class="fab fa-fw fa-discord"></i>

                    {% if discord %}
                    {{ discord }}
                    {% else %}
                    N/A
                    {% endif %}
                </p>

                <p class="subtitle is-6">
                    <i class="fab fa-fw fa-github"></i>

                    {% if github %}
                    <a href="https://github.com/{{ github }}">{{ github }}</a>
                    {% else %}
                    N/A
                    {% endif %}
                </p>

                {% comment %}
                <p class="subtitle is-6">
                    {% if pronouns %}
                    <i class="fas fa-fw fa-comment-quote"></i> {{ pronouns }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </p>
                {% endcomment %}

                <p class="subtitle is-6 is-links">
                    {% if links %}
                        {% assign link_pairs = links | strip | split: "||" -%}

                        {% for pair in link_pairs %}
                            {% assign link = pair | strip | split: "|" -%}

                            <a href="{{ link[1] | strip }}">
                                <i class="fa-lg {{ link[0] }}"></i>
                            </a>
                        {% endfor %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </p>
            </div>
        </div>

        {% if description or system_members %}
        <div class="content">
            {% if system_members %}
                <div class="media system-member-title">
                    <div class="media-content">
                        <p class="subtitle is-6 has-text-centered">Plural System</p>
                    </div>
                </div>

                <div class="system-members {% if description %}mb-4{% endif %}">
                    {% if system_members == "---" %}
                        <div class="has-tooltip-arrow" data-tooltip="Member list redacted by request ❤️">
                            <i class="fa-2xl pl-1 fas fa-box-heart"></i>
                        </div>
                    {% else %}
                        {% assign member_pairs = system_members | strip | split: "||" -%}

                        {% for pair in member_pairs %}
                            {% assign member = pair | strip | split: "|" -%}

                            <div class="has-tooltip-arrow has-tooltip-bottom" data-tooltip="{{ member[0] | strip }}">
                                <img src="{{ member[1] | strip }}"/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}

            {% if description %}
            {{ description }}
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
