---
import site from "@data/Site";
import i18next, { t } from "i18next";
import rtlSettings from "@data/RtlSettings";

import { HeadHrefLangs } from "astro-i18next/components";

export interface HeadProps {
	title: string;
	description?: string;
	date?: string;
}

const props = Astro.props as HeadProps;
const currentLang = i18next.language;

const { rtl } = rtlSettings();

const description = props.description ?? t("description");
const titleFormatted = t("title-formatted", {
	shortTitle: t("short-title"),
	title: props.title ?? t("description"),
});
---

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{titleFormatted}</title>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="/favicon/favicon-32x32.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="/favicon/favicon-16x16.png"
	/>
	<link rel="manifest" href="/favicon/site.webmanifest" />
	<link rel="shortcut icon" href="/favicon/favicon.ico" />

	<meta name="msapplication-TileColor" content="#1b112b" />
	<meta name="msapplication-config" content="/favicon/browserconfig.xml" />
	<meta name="theme-color" content="#1b112b" />

	<link rel="canonical" href={Astro.url} />

	<HeadHrefLangs />

	<meta name="author" content={site.social.name} />
	<meta name="description" content={description} />

	<meta name="twitter:card" content={site.twitter.card} />
	<meta name="twitter:creator" content={`@${site.twitter.handle.username}`} />
	<meta name="twitter:site" content={`@${site.twitter.handle.username}`} />

	{
		!Number.isNaN(Date.parse(props.date || "")) && (
			<meta property="article:published_time" content={props.date} />
		)
	}

	<meta property="og:description" content={description} />
	<meta property="og:image" content={site.logo} />
	<meta property="og:locale" content={currentLang} />
	<meta property="og:site_name" content={t("title")} />
	<meta property="og:title" content={props.title} />
	<meta property="og:type" content="article" />
	<meta property="og:url" content={Astro.url} />

	<meta property="twitter:image" content={site.logo} />
	<meta property="twitter:title" content={props.title} />

	<link
		rel="stylesheet"
		href={rtl
			? "/assets/css/style-dark-rtl.min.css"
			: "/assets/css/style-dark.min.css"}
		media="(prefers-color-scheme: dark)"
	/>
	<link
		rel="stylesheet"
		href={rtl
			? "/assets/css/style-light-rtl.min.css"
			: "/assets/css/style-light.min.css"}
		media="(prefers-color-scheme: light)"
	/>

	<script>
		import "src/script";
	</script>
	<link href="/assets/css/prism-material-dark.css" rel="stylesheet" media="(prefers-color-scheme: dark)" />
	<link href="/assets/css/prism-material-light.css" rel="stylesheet" media="(prefers-color-scheme: light)" />
</head>
