---
import PostEmbed from "@atoms/PostEmbed.astro";
import rtlSettings from "@data/RtlSettings";
import { localizePath } from "@util/Util";
import { t } from "i18next";
import { Icon } from "astro-icon/components"

const { page } = Astro.props;
const previousPage = page.currentPage - 1;
const nextPage = page.currentPage + 1;
const onFirstPage = previousPage <= 0;
const onLastPage = nextPage > page.lastPage;

const { left, right } = rtlSettings();
---

<div class="columns is-centered">
	<div class="column is-10">
		<section class="section">
			<main class="content container">
				{page.data.map((post) => <PostEmbed {post} />)}
			</main>

			<nav
				class="pagination is-centered"
				role="navigation"
				aria-label="pagination"
			>
				{/*@ts-ignore*/}
				<a
					class="pagination-previous"
					disabled={onFirstPage}
					href={!onFirstPage && localizePath("/blog/1")}
				>
					<Icon name="mdi:chevron-double-left" />
					<span class="is-hidden-mobile">{t("paginator-button-first")}</span>
				</a>

				{/*@ts-ignore*/}
				<a
					class="pagination-previous"
					disabled={onFirstPage}
					href={!onFirstPage && localizePath(`/blog/${previousPage}`)}
				>
					<Icon name="mdi:chevron-left" />
					<span class="is-hidden-mobile">{t("paginator-button-previous")}</span>
				</a>

				<ul class="pagination-list">
					{
						!onFirstPage && (
							<li>
								<a
									class="pagination-link"
									href={localizePath(`/blog/${previousPage}`)}
									aria-label={`Goto page
							${previousPage}`}
								>
									{previousPage}
								</a>
							</li>
						)
					}

					<li>
						<a
							class="pagination-link is-current"
							aria-label={`Page ${page.currentPage}`}
							>{page.currentPage}
						</a>
					</li>

					{
						!onLastPage && (
							<li>
								<a
									class="pagination-link"
									href={localizePath(`/blog/${nextPage}`)}
									aria-label={`Goto page
							${nextPage}`}
								>
									{nextPage}
								</a>
							</li>
						)
					}
				</ul>

				{/*@ts-ignore*/}
				<a
					class="pagination-next"
					disabled={onLastPage}
					href={!onLastPage && localizePath(`/blog/${nextPage}`)}
				>
					<span class="is-hidden-mobile">{t("paginator-button-next")}</span>
					<Icon name="mdi:chevron-right" />
				</a>

				{/*@ts-ignore*/}
				<a
					class="pagination-next"
					disabled={onLastPage}
					href={!onLastPage && localizePath(`/blog/${page.lastPage}`)}
				>
					<span class="is-hidden-mobile">{t("paginator-button-last")}</span>
					<Icon name="mdi:chevron-double-right" />
				</a>
			</nav>
		</section>
	</div>
</div>

<style>
	[data-icon] {
		width: 1.3em;
		height: 1.3em
	}
</style>
