---
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";
import NavLink from "./NavLink.astro";

export interface Props {
	category: string,
	name: string,
	right?: boolean,
}

const pageUrl = Astro.url.pathname;
const { category, name, right = false } = Astro.props as Props;

const pages = (await Astro.glob("/src/pages/**/*"))
	.filter(page => page.url?.startsWith(`/${i18next.language}/${category}`))
	.sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title));

const isActive = pageUrl.startsWith(`/${i18next.language}/${category}/`) ? "is-active" : "";
---

<a href={localizePath(`/${category}/`)} class:list={[ "navbar-link is-arrowless" , isActive ]}>
	{name}
</a>

<div class:list={["navbar-dropdown is-boxed", right ? "is-right" : "" ]}>
	{pages.map(p =>
	<NavLink href={p.url + "/" } subpage={false}>
		{p.frontmatter.title}
	</NavLink>
	)}
	<slot />
</div>