---
import PageTitle from "@atoms/PageTitle.astro";
import Sidebar from "@setpieces/Sidebar.astro";
import { t } from "i18next";
import Base from "@layouts/Base.astro";
import * as fs from "fs";
import { objectMap } from "src/util/Util"
import semverCompare from "semver/functions/compare";
import { Icon } from "astro-icon/components"

const { project, version } = Astro.params;

const versions = {}

for (const project of fs.readdirSync("cache/changelogs")) {
	versions[project] = fs.readdirSync(`cache/changelogs/${project}`).map((version) => version.replace(".md", "")).sort(semverCompare).reverse();
}

const sidebar = objectMap(versions, (project, projectVersions) => {
	return {
		pages: projectVersions.map((version) => `/en/changelog/${project}/${version}/`)
	}
})
---

<Base content={{title: "Changelog Index", description: "Changelog for the Quilt projects"}}>
	<div class="columns is-centered">
		<div class="column is-10">
			<section class="section">
				<div class="columns">
					<div class="column is-narrow">
						<div class="is-hidden-tablet">
							<label class="button is-primary" for="toggle-sidebar">
								<Icon name="mdi:dots-vertical"/>
								<span>{t("sidebar-pages")}</span>
							</label>
							<br />
							<br />
						</div>

						<Sidebar
							value={{
								"sidebar-pages": {
									pages: ["/en/changelog/"],
									subPages: sidebar
								}
							}}
							nameOverride={{
								"/en/changelog/": "Index"
							}}
						/>
					</div>

					<main class="content column">
						<PageTitle title="Changelog Index" />
						<p>On this page you will be able to find the version history of a few Quilt projects that maintain a <code>CHANGELOG.md</code> file.</p>

						{Object.entries(versions).map(([project, projectVersions]) => (
							<div>
								<h2 style="text-transform: capitalize">{project.replaceAll("-", " ")}</h2>
								<ul>
									{projectVersions.map((version) => (
										<li><a href={`/en/changelog/${project}/${version}/`}>{version}</a></li>
									))}
								</ul>
							</div>
						))}
					</main>
				</div>
			</section>
		</div>
	</div>
</Base>
