---
import Message from "@atoms/Message.astro";
// @ts-ignore
import { t } from "i18next";

export interface Props {
	style: string;
	iconType: string;
	icon: string;
	tKey?: string;
	header?: string;
}

const { style, iconType, icon, tKey, header } = Astro.props as Props;
const msgHeader = tKey !== undefined ? t(`message-${tKey}`, { ns: "home" }) : header;
---

<Message style={style}>
	<h2 class="has-text-centered">
		<span class="icon-text">
			<span class={`icon has-text-${iconType} mr-3`}>
				<i class={`fas fa-${icon}`}></i>
			</span>

			<span>{msgHeader}</span>
		</span>
	</h2>

	<slot />
</Message>
