---
import { t } from "i18next";
import SystemMembers from "./SystemMembers.astro";
import { Icon } from "astro-icon/components"
import { CollectionEntry } from "astro:content";

export interface Props {
	member: CollectionEntry<"teamMembers">;
}
const member = Astro.props.member.data

// this is the "N/A" text, for anyone wondering
const na = t("team:n-a");

---
<style>
	.z-60 { z-index: 60; }
</style>

<div class="card is-team-member">
	<div class="card-content">
		{
			member.avatar && (
				<div class="avatar">
					<img
						src={member.avatar}
						alt={t("team:avatar-alt")}
					/>
				</div>
			)
		}

		<div class="media">
			<div class="media-content">

				<p class="title is-5 mb-5">
					{member.name}
				</p>

				<p class="subtitle is-6">
					<Icon name="discord" />
					{member.discord}
				</p>

				<p class="subtitle is-6">
					<Icon name="cib:github" />

					{
						member.github ? (
							<a href={`https://github.com/${member.github}`}>
								{member.github}
							</a>
						) : (
							na
						)
					}
				</p>

				{
					member.links && member.links.length > 0 && (
						<p class="subtitle is-6 is-links">
							{member.links.map((link) => (
								<a href={link.url}>
									<Icon name={link.icon}/>
								</a>
							))}
						</p>
					)
				}
			</div>
		</div>

		{
			(member.description || member.systemMembers) && (
				<div class="content">
					{member.systemMembers && (
						<SystemMembers members={member.systemMembers} />
					)}

					<div class="description">{member.description}</div>
				</div>
			)
		}
	</div>
</div>

<style>
	[data-icon] {
		vertical-align: middle;
		width: 1.2em;
		height: 1.2em;
		padding-right: 0.05em;
	}
</style>
