---
import type { TeamMember,} from "@data/Team";
import { t } from "i18next";
import SystemMembers from "./SystemMembers.astro";

export interface Props {
	member: TeamMember;
	isLeader: boolean,
}
const { member, isLeader } = Astro.props as Props;

// this is the "N/A" text, for anyone wondering
const na = t("team:n-a");
---
<style>
	.z-60 { z-index: 60; }
</style>

<div class="card is-team-member">
	{ isLeader &&
		<div class="icon is-large is-pulled-right z-60 has-tooltip-arrow" data-tooltip={t("team:team-lead")}>
			<i class="fas fa-2x fa-star"></i>
		</div>
	}
	<div class="card-content">
		{
			member.avatar && (
				<div class="avatar">
					<img
						class={member.pixelateAvatar ? "is-pixelated" : ""}
						src={member.avatar}
						alt={t("team:avatar-alt")}
					/>
				</div>
			)
		}

		<div class="media">
			<div class="media-content">

				<p class="title is-5 mb-5">
					{member.name ?? <>&nbsp;</>}
				</p>

				<p class="subtitle is-6">
					<i class="fab fa-fw fa-discord"></i>
					{member.discord ?? na}
				</p>

				<p class="subtitle is-6">
					<i class="fab fa-fw fa-github"></i>

					{
						member.github ? (
							<a href={`https://github.com/${member.github}`}>
								{member.github}
							</a>
						) : (
							na
						)
					}
				</p>

				{
					member.links && member.links.length > 0 && (
						<p class="subtitle is-6 is-links">
							{member.links.map((link) => (
								<a href={link.url}>
									<i class:list={["fa-lg", link.icon]} />
								</a>
							))}
						</p>
					)
				}
			</div>
		</div>

		{
			(member.description || member.systemMembers) && (
				<div class="content">
					{member.systemMembers && (
						<SystemMembers members={member.systemMembers} />
					)}

					<div class="description">{member.description}</div>
				</div>
			)
		}
	</div>
</div>
