---
import { Markdown } from "studiocms:markdown-remark"
import { Icon } from "astro-icon/components"
import type { InferEntrySchema } from "astro:content";

export interface Props {
    mod: InferEntrySchema<"incomatibleMods">;
}

const mod = Astro.props.mod;

const [statusText, statusIcon] = {
    "UNKNOWN": ["Status is currently unknown", "mdi:question-mark-circle-outline"],
    "WONT_FIX": ["Will not be fixed", "mdi:ban"],
    "IN_PROGRESS": ["Fix in progress", "mdi:progress-clock"],
    "BLOCKED": ["Fix is blocked by an external factor", "mdi:shield-half"],
    "NO_ANSWER": ["The tracking issue is awaiting a response from maintainers", "mdi:hourglass"],
    "ON_HOLD": ["Fix is currently on hold", "mdi:pause"],
}[mod.status ?? "UNKNOWN"]
---
<div class="mod">
    <div class="card">
        <div class="card-content p-3 mb-3">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64" style="margin-left: 1vw; margin-right: 1vw">
                        <img
                                src={mod.icon}
                                alt="Mod icon"
                        />
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{mod.name}</p>
                    <p class="subtitle is-6">{mod.ids.join(', ')}</p>
                </div>
                <div>
                    <div class="icon has-tooltip-arrow has-tooltip-left" data-tooltip={statusText}>
                      <Icon name={statusIcon}/>
                    </div>
                    {
                        (mod.tracking === "UNKNOWN") ? (
                            <span class="icon">
                              <Icon name="mdi:question-mark-circle-outline" />
                            </span>
                        ) : (
                            <a href={mod.tracking} target="_blank" class="icon" style="color: inherit">
                              <Icon name="mdi:external-link"></i>
                            </a>
                        )
                    }
                </div>
            </div>

            {
                (mod.note) && (
			<div class="content"><Markdown content={mod.note} /></div>
                )
            }
        </div>
    </div>
</div>
