---
import Variables from '@data/Variables';
import site from '@data/Site';
import i18next from "i18next";
import { localizeUrl } from "astro-i18next";

// TODO: find out a way to do RTL styles.
// import '../styles/style-rtl.scss';
import '/src/styles/style.scss';
import { DateTime } from 'luxon';

export interface HeadProps {
	title: string,
	description?: string,
	date?: string,
}

const props = Astro.props as HeadProps;

const {
	title,
	description,
	titleSeparator
} = new Variables(props.title, props.description);

const supportedLanguages = i18next.languages;
const currentUrl = Astro.url.href;
const currentLang = i18next.language;

const date = props.date ? DateTime.fromISO(props.date) : null;
---

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>QuiltMC {titleSeparator} {title}</title>

	<link href="https://fonts.bunny.net/css?family=Roboto" rel="stylesheet" />

	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
	<link rel="manifest" href="/favicon/site.webmanifest" />
	<link rel="shortcut icon" href="/favicon/favicon.ico" />

	<meta name="msapplication-TileColor" content="#1b112b">
	<meta name="msapplication-config" content="/favicon/browserconfig.xml">
	<meta name="theme-color" content="#1b112b">

	<!-- TODO: RSS business -->
	<!-- {% feed_meta %} -->

	<link rel="canonical" href={Astro.url} />

	{
	// This is the same as `astro-i18next`'s `HeadHrefLangs` component,
	// but I chose to homebrew this since that one uses a deprecated feature.
	// They work exactly the same.
	supportedLanguages.map(supportedLanguage => (
	<link rel="alternate" hreflang={supportedLanguage} href={localizeUrl(currentUrl, supportedLanguage)} />
	))
	}

	<meta name="author" content={site.social.name} />
	<meta name="description" content={description} />

	<meta name="twitter:card" content={site.twitter.card} />
	<meta name="twitter:creator" content={`@${site.twitter.handle.username}`} />
	<meta name="twitter:site" content={`@${site.twitter.handle.username}`} />

	{ date?.isValid && <meta property="article:published_time" content={date.toISO()} /> }

	<meta property="og:description" content={description} />
	<meta property="og:image" content={site.logo} />
	<meta property="og:locale" content={currentLang} />
	<meta property="og:site_name" content={site.title} />
	<meta property="og:title" content={title} />
	<meta property="og:type" content="article" />
	<meta property="og:url" content={Astro.url} />

	<meta property="twitter:image" content={site.logo} />
	<meta property="twitter:title" content={title} />

	<!-- <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",

            "dateModified": "{{ page.date | date: "%FT%H:%M:%S%z" }}",
            "datePublished": "{{ page.date | date: "%FT%H:%M:%S%z" }}",
            "description": "{{ description }}",
            "headline": "{{ title }}",
            "image": "{{ site.url }}{{ site.logo }}",
            "url": "{{ site.url }}{{ page.url }}",

            "author": {
                "@type": "Organization",
                "name": "{{ site.social.name }}"
            },

            "mainEntityOfPage": {
                "@id": "{{ site.url }}{{ page.url }}",
                "@type": "WebPage"
            },

            "publisher": {
                "@type": "Organization",
                "name": "{{ site.social.name }}",

                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{ site.logo }}"
                }
            }
        }
    </script> -->

	<script src="https://kit.fontawesome.com/b1b70f724e.js" crossorigin="anonymous"></script>
	<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>