---
import LanguageModal from "@atoms/LanguageModal.astro";
import Footer from "@setpieces/Footer.astro";
import HtmlHead, { HeadProps } from "@setpieces/HtmlHead.astro";
import NavBar from "@setpieces/NavBar.astro";

import i18next from "i18next";
import Variables from "@data/Variables";
import { localizePath } from "@util/Util";

export interface BaseProps extends HeadProps {
	isPrivate?: boolean,
}
const content = Astro.props.content as BaseProps;

const variables = new Variables(content?.title, content?.description);
const rtl = variables.rtl ? 'rtl' : 'ltr'

// extract locale from URL
const match = (Astro.url.pathname + '/').match(/^\/(\w+)\//);
if (match) {
	i18next.changeLanguage(match[1]);
	localizePath("/");
}
---

<!DOCTYPE html>

<html lang={i18next.language} dir={rtl}>

<HtmlHead title={content?.title} description={content?.description} date={content?.date} />

<body class="page">
	{ !Astro.props.navless &&
	<NavBar root={Astro.props.root} /> }

	<slot />

	<Footer />
	<LanguageModal />

	<!-- <script>
	{% if page.has_downloads %}
	window.pageHasDownloads = true
	{% else %}
	window.pageHasDownloads = false
	{% endif %}
</script> -->

</body>


</html>