---
import Footer from "@components/Footer.astro";
import HtmlHead, { Props as HeadProps } from "@components/HtmlHead.astro";
import Variables from "@data/Variables";
import LanguageModal from "@components/LanguageModal.astro";
import NavBar from "@components/NavBar.astro";
import i18next from "i18next";

export interface BaseProps {
	content: Inner,
}
export interface Inner extends HeadProps {
	navless?: boolean,
	isPrivate?: boolean,
}
const {
	navless = false,
	isPrivate = false,
	title,
	description,
	date,
} = (Astro.props as BaseProps).content;

const variables = new Variables(title, description);
const rtl = variables.rtl ? 'rtl' : 'ltr'
//@ts-ignore this comes with Vite
const shouldHide = isPrivate && import.meta.env.PROD;
---

<!DOCTYPE html>

<html lang={i18next.language} dir={rtl}>

<HtmlHead title={title} description={description} date={date} />

<body class="page">
	{ navless ?
	<NavBar /> : <></> }

	{ shouldHide
	? <section class="section">
		<main class="content container">
			<h1 class="title">Coming soon!</h1>

			Thanks for being patient.
		</main>
	</section>
	:
	<slot />
	}

	<Footer />
	<LanguageModal />

	<!-- <script>
	{% if page.has_downloads %}
	window.pageHasDownloads = true
	{% else %}
	window.pageHasDownloads = false
	{% endif %}
</script> -->

</body>

</html>