---
import Footer from "@components/Footer.astro";
import HtmlHead, { Props as HeadProps } from "@components/HtmlHead.astro";
import Variables from "@data/Variables";
import LanguageModal from "@components/LanguageModal.astro";
import NavBar from "@components/NavBar.astro";
import i18next from "i18next";

export interface BaseProps {
	content: Inner,
}
export interface Inner extends HeadProps {
	isPrivate?: boolean,
}
const {
	title,
	description,
	date,
} = (Astro.props as BaseProps).content;

const variables = new Variables(title, description);
const rtl = variables.rtl ? 'rtl' : 'ltr'
---

<!DOCTYPE html>

<html lang={i18next.language} dir={rtl}>

<HtmlHead title={title} description={description} date={date} />

<body class="page">
	{ !Astro.props.navless &&
	<NavBar /> }

	<slot />

	<Footer />
	<LanguageModal />

	<!-- <script>
	{% if page.has_downloads %}
	window.pageHasDownloads = true
	{% else %}
	window.pageHasDownloads = false
	{% endif %}
</script> -->

</body>

</html>