---
import HeroContent from "./HeroContent.astro";
//@ts-ignore
import Button from "@atoms/Button.astro";
import Card from "@atoms/Card.astro"
import LatestPosts from "@parts/home/LatestPosts.astro";

import { localizePath } from "@util/Util";
import site from "@data/Site";
import SponsorRow from "@parts/sponsors/SponsorRow.astro";
---

<HeroContent content={Astro.props.content}>

	<main slot="main">
	<div class="has-text-centered" style="font-size: 1.4em; font-weight: bold;">
		<slot name="info"/>
	</div>
	<h2 class="has-text-centered">Our Projects</h2>
		<div class="columns is-centered">
			<div class="column is-10">
				<div class="button-grid">

				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<Card title="Quilt Loader" link={localizePath("/install")} linkText="Install Quilt Loader" color="#8b2df5">
					<slot name="loader" />
				</Card>
			</div>
			<div class="column">
				<Card title="Enigma" link="https://github.com/quiltmc/enigma/" linkText="View on GitHub" color="#3643f5">
					<slot name="enigma" />
				</Card>
			</div>
			<div class="column">
				<Card title="Quilt Config" link="https://wiki.quiltmc.org/en/configuration/getting-started" linkText="Get Started" color="#6fd04a">
					<slot name="quilt-config" />
				</Card>
			</div>
		</div>
	</main>

	<div slot="sponsors">
		<SponsorRow />
	</div>

	<div slot="bottom">
		<div class="columns is-centered">
			<div class="column is-5">
				<slot name="joinTheCommunity" />

				<div class="button-grid">
					<Button
						href={site.discordCommunity}
						target="_blank"
						type="discord"
						icon="discord"
						textKey="button-discord"
					/>

					<Button
						href={site.mastodon.link}
						target="_blank"
						type="mastodon"
						icon="cib:mastodon"
						textKey="button-mastodon"
					/>

					<Button
						href={localizePath("/community")}
						type="primary"
						icon="mdi:dots-vertical"
						textKey="button-more"
					/>
				</div>

				<slot name="getInvolved" />

				<div class="button-grid">
					<Button
						href={site.github.link}
						target="_blank"
						type="github"
						icon="cib:github"
						textKey="button-github"
					/>

					<Button
						href={localizePath("/contribute")}
						type="primary"
						icon="mdi:hand-heart-outline"
						textKey="button-help-wanted"
					/>

					<Button
						href={site.discordCommunity}
						target="_blank"
						type="discord"
						icon="discord"
						textKey="button-discord"
					/>
				</div>
			</div>

			<div class="column is-5">
				<slot name="latestPosts" />

				<LatestPosts />
			</div>
		</div>
	</div>

</HeroContent>
